Repository PatoGuereque/Proyecto-APIS, pull requests merged in 2021-11, with the labels that each got.

#4 :lipstick: Add Main view (Closes #2)
  .eslintrc.json
  src/App.jsx
  src/components/Copyright.jsx
  src/components/Footer.jsx
  src/components/Header.jsx
  src/components/Layout.jsx
  src/theme.jsx
  src/views/About.jsx
  src/views/Main.jsx
  src/views/Malware.jsx
  src/views/Phishing.jsx
  src/views/SocialEngineering.jsx
  src/views/routes.jsx
Labels: view/component

#10 Component/fake gmail
  src/App.jsx
  src/components/CardGrid.jsx
  src/components/FakeEmail.jsx
  src/components/Header.jsx
  src/emails/ebay.js
  src/emails/google.js
  src/emails/microsoft.js
  src/emails/template.js
  src/emails/word.js
  src/views/ExampleEmail.jsx
  src/views/routes.jsx
Labels: view/component

#11 Malware view
  src/components/MalwareQuestions.jsx
  src/views/Malware.jsx
  src/views/MalwareQuiz.jsx
Labels: view/component

#13 social engineering view
  package.json
  src/components/SocialEngineeringQuestions.jsx
  src/views/SocialEngineering.jsx
  src/views/SocialEngineeringQuiz.jsx
  src/views/SocialEngineeringVideos.jsx
  yarn.lock
Labels: view/component

#14 Added styling to the quiz view
  src/views/Malware.jsx
  src/views/MalwareQuiz.jsx
Labels: enhancement

#15 Feature/phising
  package.json
  src/components/PhishingQuestions.jsx
  src/emails/ebayExercise2.js
  src/emails/googleExercise1.js
  src/emails/microsoftExercise4.js
  src/emails/wordExercise3.js
  src/views/Phishing.jsx
  src/views/PhishingQuiz.jsx
  yarn.lock
Labels: view/component

#18 fix: Fix netlify 404 errors, redirecto to /*
  netlify.toml
  src/components/CardGrid.jsx
  src/components/CardWithShadow.jsx
  src/components/PhishingQuestions.jsx
  src/components/contributors.js
  src/views/About.jsx
  src/views/Phishing.jsx
  src/views/PhishingQuiz.jsx
  src/views/routes.jsx
Labels: bug

#24 Social engineering responsive
  src/components/SocialEngineeringQuestions.jsx
  src/views/SocialEngineeringQuiz.jsx
Labels: design

#25 General fixes and readme
  README.md
  src/components/Header.jsx
  src/views/About.jsx
  src/views/Main.jsx
  src/views/Malware/Malware.jsx
  src/views/Malware/MalwareGloss.jsx
  src/views/Phishing/Phishing.jsx
  src/views/Phishing/PhishingQuiz.jsx
  src/views/SocialEngineering/SocialEngineering.jsx
  src/views/SocialEngineering/SocialEngineeringQuiz.jsx
  src/views/SocialEngineering/SocialEngineeringVideos.jsx
  src/views/routes.jsx
Labels: bug, documentation, Prioridad Alta, view/component

#27 feat: Make images in Home clickable
  src/views/Main.jsx
Labels: enhancement
